.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

 /* Thêm vào file powerbi.css */
.resizable-panel {
    resize: horizontal;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .resizable-panel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: col-resize;
  }
  
  .resizable-panel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    cursor: col-resize;
  }
  
  .resizable-panel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    cursor: col-resize;
  }